<html>

    <head>
        <script src="/resources/js/jquery-1.7.2.min.js"></script>    
        <script>
            function toggle_user_movies(user) {
                var mark = $('#mark_' + user);
                var movies = $('#movies_' + user);
                var disp = movies.css('display');
                if (disp == 'none') {
                    mark.text('-');
                    movies.css('display', '');
                } else {
                    mark.text('+');
                    movies.css('display', 'none');
                }
            }

            function remove(user, hash) {
                var url = '/json/mark_movie?user=' + user;
                url += '&hash=' + hash;
                url += '&mark=false';
                $.getJSON(url, function(reply) {
                    if (reply && reply.success 
                        && (reply.success == 'true' || reply.success == true)) {
                        $('#movie_' + user + '_' + hash).remove();
                        if ($('#movies_' + user + ' > li').length == 0) {
                            $('#movies_' + user).remove();
                        }
                    }
                });
            }
        </script>
    </head>

<body>
    <h1>All User Movies</h1>
    <dl>
        {% for movies in allUserMovies %}
        {% set user = loop.key %}
        <dt><span id="mark_{{ user }}">+</span><a href="javascript:void(0)" onclick="toggle_user_movies('{{ user  }}')">{{ user }}</a></dt>
        <ul id="movies_{{ user }}" style="display: none">
            {% for movie in {{ movies }} %}
            <li id="movie_{{ user }}_{{ movie['hash'] }}">{{ movie['filename'] }}&nbsp;<a href="javascript:void(0)" onclick="remove('{{ user }}', '{{ movie['hash'] }}')">remove</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </dl>
</body>

</html>
