<html>

<head>
<link href='/resources/css/movie_list.css' rel='stylesheet' type='text/css' />
<script src="/resources/js/jquery-1.7.2.min.js"></script>
<script src="/resources/js/jquery.cookie.js"></script>
<script type="text/javascript">
var list_type = '{{ type }}';
function reload_movies(type) {
    $.getJSON('/json/movie_list?type=' + type, function(data) {
        if (data && data.length) {
            var html = "";
            for (var i = 0; i < data.length; i++) {
                html += to_movie_tr(data[i]);
            }
            var container = $("#movie_list_table");
            container.empty();
            container.append(html);
            auto_login();
        }
    });
}

function to_movie_tr(m) {
    // line start
    var html = "<tr>";
    // column 1: poster
    html += "<td valign=top>";
    if (m.poster_image) {
        var imgSrc = '/resources/poster/' + m.hash + '.jpg';
        html += '<a href="' + imgSrc + '" target=_blank><image src="' + imgSrc + '" width=200px height=300px /></a>';
    } else {
        html += "N/A";
    }
    html += "</td>";
    // column 2
    if (m.recommend == '1') {
        html += '<td valign=top class=recommend>';
    } else {
        html += '<td valign=top>';
    }
    if (m.available == 'false') html += "<font color='red'>REMOVED</font><br/>";
    html += to_info_table(m);
    html += "</td>";
    // line end
    html += "</tr>";

    return html;
}

function _get(m, attr) {
    var imdb = m.imdb;
    var douban = m.douban;
    if (douban && typeof douban[attr] === 'string' && douban[attr].length > 0) {
        return douban[attr];
    } else if (imdb && typeof imdb[attr] === 'string' && imdb[attr].length > 0) {
        return imdb[attr];
    } else {
        return 'N/A';
    }
}

function _getVotesRating(m, type) {
    var data = m[type];
    if (data && typeof data === 'object') {
        return data['Votes'] + '/' + data['Rating'];
    } else {
        return 'N/A';
    }
}

function _getLinkHtml(m) {
    var imdb = m.imdb;
    var douban = m.douban;
    var html = '&nbsp;(';
    html += '<a href="' + imdb['url'] + '" target="_movie_ref">IMDB</a>';
    if (douban && douban['url']) {
        html += ' / <a href="' + douban['url'] + '" target="_movie_ref">豆瓣</a>';
    }
    html += ')';
    return html;
}

function to_info_table(m) {
    var html = "<table>";
    html += "<tr><td valign=top colspan=3><font size=4>" + m.filename + "</font></td></tr>";
    // imdb data
    var imdb = m.imdb;
    if (imdb) {
        html += "<tr><td valign=top class=nowrap>片名:</td><td valign=top colspan=2>" + _get(m, 'Title') + _getLinkHtml(m) + "</td>";
        html += "<tr><td valign=top class=nowrap>发布日期:</td><td valign=top colspan=2>" + _get(m, 'Released') + "</td>";
        html += "<tr><td valign=top class=nowrap>时长:</td><td valign=top colspan=2>" + _get(m, 'Runtime') + "</td>";
        html += "<tr><td valign=top class=nowrap>类型:</td><td valign=top colspan=2>" + _get(m, 'Genre') + "</td>";
        html += "<tr><td valign=top class=nowrap>导演:</td><td valign=top colspan=2>" + _get(m, 'Director') + "</td>";
        html += "<tr><td valign=top class=nowrap>编剧:</td><td valign=top colspan=2>" + _get(m, 'Writer') + "</td>";
        html += "<tr><td valign=top class=nowrap>主演:</td><td valign=top colspan=2>" + _get(m, 'Actors') + "</td>";
        html += "<tr><td valign=top class=nowrap>剧情简介:</td><td valign=top colspan=2>" + _get(m, 'Plot') + "</td>";
        html += "<tr><td valign=top class=nowrap>投票/得分(IMDB):</td><td valign=top colspan=2>" + _getVotesRating(m, 'imdb') + "</td>";
        html += "<tr><td valign=top class=nowrap>投票/得分(豆瓣):</td><td valign=top colspan=2>" + _getVotesRating(m, 'douban') + "</td>";
    }
    if (m.content && m.content.files && m.content.files.length > 0) {
        html += '<tr><td valign=top class=nowrap><a href="javascript:toggle_files(\'' + m.hash + '_files' + '\')">文件大小:</a></td>' 
            + '<td valign=top width=100%>' + _getTotalSize(m.content) + '</td>'
            + '<td align=right class=nowrap><span style="display: none" name=mark_container><input type=checkbox id=mark_' + m.hash + ' onclick="mark(\'' + m.hash + '\')"><label for=mark_' + m.hash + '>mark</label></span></td></tr>';
        html += "<tr id='" + m.hash + '_files' + "' style='display:none'><td></td><td>" + files_to_html(m.content.files) + "</td></tr>";
    } else {
        html += '<tr><td valign=top class=nowrap>文件大小:</td>' 
            + '<td valign=top width=100%>' + _getTotalSize(m.content) + '</td>'
            + '<td align=right class=nowrap><span style="display: none" name=mark_container><input type=checkbox id=mark_' + m.hash + ' onclick="mark(\'' + m.hash + '\')"><label for=mark_' + m.hash + '>mark</label></span></td></tr>';
    }
    html += "</table>"
    return html;
}

var movie_user = $.cookie('movie_user');

function perform_login() {
    var user = movie_user;
    $('#login_link').css('display', 'none');
    var myMoviesLink = $('#my_movies_link');
    myMoviesLink.attr('href', myMoviesLink.attr('href') + user);
    myMoviesLink.css('display', '');
    set_welcome_msg(user);
    set_movie_marks();
    show_all_marks();
}

function auto_login() {
    if (movie_user && typeof movie_user === 'string' && movie_user.length > 0) {
         perform_login();
    }
}

function login() {
    while (true) {
        user = window.prompt('Just tell me who you are, '
                    + 'better use a recognizable name, like "dingyc":', '');
        if (user == null) { // user choose 'cancel'
            break;
        } else if (user.length == 0) { // empty input
            // keep prompting
        } else {
            break;
        }
    }
    if (user != null) {
        $.cookie('movie_user', user, { expires: 3650, path: '/' });
        movie_user = user;
        perform_login();
    }
}

function set_welcome_msg(user) {
    var container = $('#movie_user');
    container.text('Welcome "' + user + '".');
    container.css('display', '');
}

function mark(hash) {
    var user = movie_user; 
    if (user != null && user.length > 0) {
        var checked = $('#mark_' + hash).prop('checked');
        var url = '/json/mark_movie?user=' + user;
        url += '&hash=' + hash;
        url += '&mark=' + checked;
        $.getJSON(url, function(reply) {/*
            if (reply && reply.success == true) {
                if (checked) {
                    $('#mark_text_' + hash).text('unmark');
                } else {
                    $('#mark_text_' + hash).text('mark');
                }
            }
        */});
    }
}

function show_all_marks() {
    $('span[name="mark_container"]').css('display', '');
}

function set_movie_marks() {
    var user = movie_user;
    var url = '/json/user_movies?user=' + user;
    $.getJSON(url, function(reply) {
        var hashes = reply['hashes'];
        if (hashes && hashes instanceof Array && hashes.length > 0) {
            for (var i = 0; i < hashes.length; i++) {
                var target = $('#mark_' + hashes[i]);
                if (target) target.prop('checked', 'true');
            }
        }
    });
}

function toggle_files(id) {
    var target = $('#' + id);
    var curDisplay = target.css('display');
    if (curDisplay == 'none') {
        target.css('display', '');
    } else {
        target.css('display', 'none');
    }
}

function files_to_html(files) {
    var html = '<table>';
    if (files && files.length > 0) {
        for (var i = 0; i < files.length; i++) {
            html += '<tr><td>' + files[i]['file'] + '</td><td>' + files[i]['size'] + 'kb</td></tr>';
        }
    }
    html += '</table>';
    return html;
}

function _getTotalSize(content) {
    if (content) {
        if (content.size) return content.size + ' kb';
    }
    return 'N/A';
}

function auto_reload() {
    reload_movies(list_type);
    setTimeout(auto_reload, 3600000);
}
</script>
</head>

<body onload="javascript:auto_reload();">
    <h1>{{ title }}</h1>
    <table width="100%">
        <tr>
            <td align=left width="50%"><a id="login_link" href="" onclick="login()">Login</a><span id='movie_user' style='display: none'></span></td>
            <td align=right width="50%"><a id="my_movies_link" href="/user_movies?user=" style="display: none" target="_my_movies">My Movies</a></td>
        </tr>
    </table>
    <table id="movie_list_table" border=1 width=100%></table>
</body>
</html>
